@page "/login"
@using Echo_HomeApp.Client.Components.Components
@using Services
@inject HttpClient httpClient
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@{
    /// <summary>
    /// Author: Samed Salman
    /// This page is for login and signup
    /// </summary>
}

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<fieldset disabled="@(expiration is not null)">
    <LoginForm OnLoginSuccess="HandleLoginSuccess" />
</fieldset>

<fieldset>
    <RealtorCreateForm />
</fieldset>


@code {
    private DateTime? expiration;

    private void HandleLoginSuccess(DateTime? loginExpiration)
    {
        expiration = loginExpiration;
        if (expiration != null)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
