@page "/realtorfirms"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@{
    /// <summary>
    /// Author: Samed Salman
    /// This page lists all Realtor firms
    /// </summary>
}

<PageTitle>Realtor firms</PageTitle>

<h1>Realtor firms</h1>

@if (RealtorFirms is null)
{
    <p><em>Loading...</em></p>
}

<Button Color="ButtonColor.Primary" @onclick="CreateNewAsync"><Icon Name="IconName.Clipboard" /> Add new</Button>

<QuickGrid Class="table" Items="RealtorFirms">
    <PropertyColumn Property="rf => rf.Id" Title="Id" />
    <PropertyColumn Property="rf => rf.Name" Title="Name" Sortable="true" />
    <PropertyColumn Property="rf => rf.RealtorFirmPresentation" Title="About this firm" />
    <TemplateColumn Context="realtorFirm" Title="Logotype">
        <img src="@realtorFirm.Logotype" alt="Logotype for @realtorFirm.Name" width="100px" />
    </TemplateColumn>
    <TemplateColumn Context="realtorFirm" Title="Handle">
        <Button Color="ButtonColor.Primary" @onclick="() => GoToDetailsAsync(realtorFirm.Id)"><Icon Name="IconName.FileText" /> Details</Button>
    </TemplateColumn>
</QuickGrid>



@code {
    // TODO: (Samed) Position add-button to the right, in line with the other buttons
    // TODO: (Samed) Add pagination for every ten firms on this page

    IQueryable<RealtorFirmGetDTO> RealtorFirms;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        List<RealtorFirmGetDTO> realtorFirmsFromAPI = await httpClient.GetFromJsonAsync<List<RealtorFirmGetDTO>>("https://localhost:7190/api/RealtorFirm");

        if (realtorFirmsFromAPI == null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        RealtorFirms = realtorFirmsFromAPI.AsQueryable();
    }

    private async Task GoToDetailsAsync(int id)
    {
        NavigationManager.NavigateTo($"/realtorfirm/details?id={id}");
    }

    private async Task CreateNewAsync(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/realtorfirm/create");
    }
}