@page "/realtor/edit/"
@page "/realtor/edit/{id}"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<h3>Edit</h3>

<p>Id is @Id</p>



@code {

    [SupplyParameterFromQuery]
    [Parameter]
    public string? Id { get; set; }

    RealtorGetDTO? Realtor { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var realtorFromApi = await httpClient.GetFromJsonAsync<RealtorGetDTO>("https://localhost:7190/api/Realtor/{Id}");
        if (realtorFromApi == null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        else
        {
            Realtor = realtorFromApi;
        }
    }
    
}
